a:link{
    color: rgb(4, 135, 12);
}
a:visited{
    color: hotpink;
}
a:hover{
    text-decoration: none;
    background-color: black;
}
.outer{
    border: solid black;
}
.box{
    background-color: red;
    color: yellow;
    width: 20%; /*calc(75% - 30px);*/
    height: 55%;
    margin: 1%;
    padding: 1%;
    transform: rotate(0.9turn);   
}